# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


./dsw/ambiente_aprendizagem/projetos/backend/src/main/resources/application.properties
./dsw/ambiente_aprendizagem/projetos/backend/src/main/java/com/jhonathanreis/backend/BackendApplication.java
./dsw/ambiente_aprendizagem/projetos/backend/.classpath
./dsw/ambiente_aprendizagem/projetos/backend/.project
./dsw/ambiente_aprendizagem/projetos/backend/.settings/
./dsw/ambiente_aprendizagem/projetos/backend/target/./bin/src/main/resources/application.properties
./dsw/ambiente_aprendizagem/projetos/backend/bin/src/main/resources/application.properties
./dsw/ambiente_aprendizagem/projetos/backend/src/main/resources/application.properties
./dsw/ambiente_aprendizagem/projetos/backend/target/classes/application.properties
